$calendarAnimation: calendar-body-;

.#{$calendarAnimation} {
	&enter {
		opacity: 0.01;

		&.#{$calendarAnimation}enter-active {
			opacity: 1;
			transition: opacity 500ms ease-in;
		}
	}

	&leave {
		opacity: 1;

		&.#{$calendarAnimation}leave-active {
			opacity: 0.01;
			transition: opacity 300ms ease-in;
		}
	}

}